@model ExternalDataStructures.SectorView

@{
    ViewData["Title"] = "Sector Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.SectorData.Name Sector</h1>
</div>

<div>

    <div id="Industries">
        <h3 class="display-6">Industries</h3>
        <table class="table table-hover">
            <tr>
                <th>ID</th>
                <th>Market</th>
                <th>Sector</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            @foreach (var industry in Model.SectorData.Industries)
            {
                <tr>
                    <td>@industry.ID</td>
                    <td>@Model.BenchmarkData.MarketName</td>
                    <td>@Model.SectorData.Name</td>
                    <td>@industry.Name</td>
                    <td><a href="Industry?marketName=@Model.BenchmarkData.MarketName&sectorName=@Model.SectorData.Name&industryName=@industry.Name">View</a></td>
                </tr>
            }
        </table>
    </div>

    <hr />
    <div>
        <h3 class="display-6">Benchmark</h3>
        @await Html.PartialAsync("_Benchmark", Model.BenchmarkData)
    </div>


</div>